{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <header class="text-center mb-4">
            <h1>Muuda parooli</h1>
        </header>

        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn custom-btn">Muuda</button>
                    <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">Katkesta</a>
                </div>
            </form>
        </section>

        {% if form.errors %}
            <div class="error-messages text-danger mt-4">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
