{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/feedback_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">{% trans 'Lisatud tagasisided' %}</h1>
  <table class="table">
    <thead>
      <tr>
          <th>{% trans 'Kuupäev' %}</th>
        <th>{% trans 'Nimi' %}</th>
        <th>{% trans 'Tagasiside' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedbacks %}
      <tr>
        <td>{{ feedback.created_at|date:"d.m.Y" }}</td>
        <td>{{ feedback.name }}</td>
        <td>{{ feedback.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
