{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>{% trans "Parooli taastamine" %}</h1>
        <h5 class="text-muted">{% trans "Oleme saatnud Teile juhised oma parooli seadistamiseks, kui Teie sisestatud e-posti aadress on kontoga seotud. Peaksite need saama mõne hetke pärast." %}</h5>
        <br>
        <h6 class="text-muted" style="width: 60%; margin: 0 auto;">
            {% trans "Kui te ei saa e-kirja, kontrollige, et olete sisestanud registreerimiseks kasutatud aadressi ja vaadake oma rämpsposti kausta." %}
        </h6>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="custom-link">{% trans "Tagasi pealehele" %}</a>
    </div>
</div>
{% endblock %}
