{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>{% trans "Parool uuendatud" %}</h1>
        <h6 class="text-muted" style="width: 60%; margin: 0 auto;">
            {% trans "Sinu parool on muudetud. Nüüd saad sisselogida." %}
        </h6>
    </div>
    <br />
    <div class="text-center mt-4">
        <a href="{% url 'users:login' %}">
            <button class="custom-btn">{% trans "Logi sisse" %}</button>
        </a>
    </div>
</div>
{% endblock %}
