{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="text-center" style="max-width: 600px; margin: 0 auto;">
        <h1 class="mb-4">{% trans "Parooli taastamine" %}</h1>
        <h3 class="text-muted mb-4">
            {% trans "Unustasid enda parooli? Sisesta email, millega registeerisid konto ja saadame Sulle lingi parooli taastamiseks." %}
        </h3>
    </div>

    <form action="" method="POST" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn custom-btn mt-3">{% trans "Saada email" %}</button>
    </form>

    <div class="text-center mt-4">
        <a href="{% url 'users:login' %}" class="link-button">{% trans "Tagasi sisselogimise lehele" %}</a>
    </div>
</div>
{% endblock %}
