{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-page">
        <div class="profile-container">
            <header>
                <h1 class="page-title">Muuda oma profiili</h1>
            </header>

            <form method="POST" class="profile-edit-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-container">
                    <button type="submit" class="custom-save-btn">Salvesta</button>
                    <a href="{% url 'users:profile' %}" class="custom-back-btn">Tagasi</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
