{% extends "base.html" %}

{% block content %}
    <h1>{{ product.title }}</h1>
    {% if product.image_path.url is not None %}
        <img src="{{ product.image_path.url }}" alt="{{ product.title }}" class="product-list-image">
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>

    <!-- Flex container to hold the buttons -->
    <div class="d-flex justify-content-start">
        {% if user.is_authenticated %}
          <form action="{% url 'products:add_to_cart' product.id %}" method="post" class="me-3">
            {% csrf_token %}
            <!-- Add to cart button with green color (Bootstrap btn-success) -->
            <button type="submit" class="btn btn-success">Add to cart</button>
          </form>
        {% endif %}

        <!-- Back to categories button with blue color (Bootstrap btn-primary) -->
        <a href="{{ back_url }}"><button class="btn btn-primary">Back to categories</button></a>
    </div>
{% endblock %}
