{% extends "base.html" %}

{% block content %}
    <h1>{{ product.title }}</h1>
    <img src="{{ product.image_path }}" alt="{{ product.title }}">
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    <div class="flex">
        {% if user.is_authenticated %}
          <form action="{% url 'products:add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">Add to cart</button>
          </form>
        {% endif %}
        <a href="{{ back_url }}"><button class="btn btn-outline-success">Back to categories</button></a>
    </div>
{% endblock %}
