<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
</head>
<body>
    Cart ID: {{ message }}
    {% for item in cart_items %}
        <form action="{% url 'shopping_cart:delete_from_cart' item.id %}" method="post">
            <h4>{{ item.product_id.title }}
                {% csrf_token %}
                {% if item.active == False %}
                    <button type="submit">Delete from Cart</button>
                {% endif %}
            </h4>
        </form>
    {% endfor %}
</body>
</html>