{% extends "base.html" %}

{%  load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block content %}
    <div class="cart-container">
        {% if cart_items %}
            <table class="table table-striped table-hover cart-table">
                <thead>
                    <tr>
                        <th>Toode</th>
                        <th>Kogus</th>
                        <th>Hind €</th>
                        <th>Kokku €</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>
                                <form action="{% url 'shopping_cart:delete_from_cart' item.id %}" method="post" class="d-inline mx-2">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger btn-sm" type="submit">-</button>
                                </form>
                                {{ item.quantity }}
                                <form action="{% url 'products:add_to_cart' item.product.id %}" method="post" class="d-inline mx-2">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-success btn-sm" type="submit">+</button>
                                </form>
                            </td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.total_item_price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="fw-bold">Kokku</td>
                        <td class="fw-bold">{{ total_price.total_price }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-3">
                <a href="{% url 'shopping_cart:checkout' %}">
                    <button class="btn btn-checkout">Kinnita tellimus</button>
                </a>
            </div>
        {% else %}
            <h4 class="text-muted">Tooteid ei ole listud ostukorvi</h4>
        {% endif %}

        {% if not user.is_authenticated %}
            <a href="{% url 'users:login' %}">
                <button class="btn btn-primary">Logi sisse / Registreeri</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
