{% extends "base.html" %}

{% block content %}
    <h1>Checkout</h1>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">User Information</h5>
        <dl class="row">
          <dt class="col-sm-3">Username:</dt>
          <dd class="col-sm-9">{{ user.username }}</dd>
          <dt class="col-sm-3">First name:</dt>
          <dd class="col-sm-9">{{ user.first_name }}</dd>
          <dt class="col-sm-3">Last name:</dt>
          <dd class="col-sm-9">{{ user.last_name }}</dd>
          <dt class="col-sm-3">E-Mail:</dt>
          <dd class="col-sm-9">{{ user.email }}</dd>
        </dl>
        <h6 class="card-subtitle mb-2 text-muted">Address</h6>
        <dl class="row">
          <dt class="col-sm-3">Street:</dt>
          <dd class="col-sm-9">{{ contact.street }}</dd>
          <dt class="col-sm-3">House nr:</dt>
          <dd class="col-sm-9">{{ contact.house_number }}</dd>
          <dt class="col-sm-3">Apartment nr:</dt>
          <dd class="col-sm-9">{{ contact.apartment_number }}</dd>
          <dt class="col-sm-3">Postal Code:</dt>
          <dd class="col-sm-9">{{ contact.postal_code }}</dd>
          <dt class="col-sm-3">Country:</dt>
          <dd class="col-sm-9">{{ contact.country }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Phone:</dt>
          <dd class="col-sm-9">{{ contact.phone_number }}</dd>
        </dl>
      </div>
    </div>
{% endblock %}