{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
{% endblock %}

{% block content %}

<div class="checkout-container">
    <h1 class="checkout-title text-center">Saatmine</h1>
    <div class="checkout-summary">
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping-itella" value="itella" checked>
            <label class="form-check-label" for="shipping-itella">
              Itella
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping-omniva" value="omniva">
            <label class="form-check-label" for="shipping-omniva">
              Omniva
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping-dpd" value="dpd">
            <label class="form-check-label" for="shipping-dpd">
              DPD Kuller
            </label>
          </div>
        </div>
      </div>

        <div id="total-cart-price">{{ cart_total }}</div>
        <div id="shipping-price-container"></div>
        <div id="total-price-container"></div>

      <div id="itella-container" style="display: none">
          {% include "shipping_options/itella.html" %}
      </div>
      <div id="omniva-container" style="display: none;">
          {% include "shipping_options/omniva.html" %}
      </div>
      <div id="dpd-container" style="display: none;">
          {% include "shipping_options/dpd_kuller.html" %}
      </div>
    </div>
</div>

<script src="{% static 'js/shipping_choice.js' %}"></script>

{% endblock %}
