.card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.card-body h2 {
    font-size: 1.2rem;
    color: #7a5d43;
    margin-bottom: 10px;
}



.btn-add {
    background-color: #eae3d2;
    color: #6c5e53;
    border: 1px solid #d1c4b8;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-add:hover {
    background-color: #d6c9b7;
    color: #4a4a4a;
}

.pagination {
    margin: 20px 0;
    justify-content: center;
}

.page-link {
    color: #6c5e53;
    padding: 10px 15px;
    border: 1px solid #d1c4b8;
    border-radius: 5px;
    margin: 0 5px;
}

.page-item.active .page-link {
    background-color: #eae3d2;
    color: #4a4a4a;
}

.page-link:hover {
    background-color: #d6c9b7;
    color: #4a4a4a;
}

.product-list {
    min-height: 400px;
    padding: 15px;
    background-color: #faf7f2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-img-top {
  height: 180px; /* Set a fixed height for the image */
  width: 100%;
  object-fit: scale-down; /* Crop the image to fit the container */
  object-position: top; /* Display the top part of the image */
}

.card-body {
    height: 250px;
}

.card {
    max-width: 310px;
    margin: 0 auto;
}