{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our About Us page!</p>
    <div class="row">
        <div class="col">
            <h3>EE:</h3>
            <p>
                Oleme nagu hunt kriimsilmad alati 101 asja käsil.<br>
                Oleme seadnud eesmärgiks ,et kahe nädala jooksul tooted kliendini jõuaksid.<br>
                Kui kulub rohkem aega siis anname teada.<br>
                Oleme alati uuteks väljakutseteks valmis. Piisab kui on idee.<br>
                Samas oleme tulnud kliendi soovile ka vastu ja kiirtellimusi teinud.<br>
                Aga nagu teie siis vajame meie ka uneaega.<br>
                Kui sul on mingeid küsimusi või muresid võta julgelt ühendust:<br>
                E-mail: kunst.on.moes@online.ee<br>
                Tel: +372 53304239
            </p>
        </div>
        <div class="col">
            <h3>EN:</h3>
            <p>
                Like a wolf with scratchy eyes, we are always up to 101 things.<br>
                We have set the goal that the products will reach the customer within two weeks.<br>
                If it takes more time, we will let you know.<br>
                We are always ready for new challenges. It's enough to have an idea.<br>
                At the same time, we have responded to the customer's request and made express orders.<br>
                But like you, we also need sleep time.<br>
                If you have any questions or problems feel free to contact us:<br>
                E-mail: kunst.on.moes@online.ee<br>
                Tel: +372 53304239
            </p>
        </div>
    </div>
</div>
{% endblock %}
