.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: #7a5d43;
    margin-bottom: 20px;
}

.profile-edit-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn {
    background-color: #eae3d2;
    color: #4a4a4a;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 1px solid #d1c4b8;
}

.btn:hover {
    background-color: #d6c9b7;
    color: #3a3a3a;
}
.custom-btn {
    background-color: #eae3d2;
    color: #4a4a4a;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 1px solid #d1c4b8;
    padding: 10px 20px;
}

.custom-btn:hover {
    background-color: #d6c9b7;
    color: #3a3a3a;
}
.custom-back-btn {
    background-color: #f0e6d2;
    color: #5a5a5a;
    border: 1px solid #d1c4b8;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.custom-back-btn:hover {
    background-color: #d6c9b7;
    color: #3a3a3a;
}
