.checkout-container {
    /*padding: 20px;*/
    max-width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.checkout-title {
    font-weight: bold;
    color: #7a5d43;
    font-size: 28px;
    margin-bottom: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-form .form-group {
    margin-bottom: 15px;
}

.checkout-form label {
    font-weight: bold;
    color: #5a5a5a;
    margin-bottom: 5px;
    font-size: 16px;
}

.checkout-form input,
.checkout-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1c4b8;
    border-radius: 5px;
    color: #5a5a5a;
    font-size: 16px;
}

.checkout-form input:focus,
.checkout-form select:focus {
    border-color: #7a5d43;
    outline: none;
}

.payment-methods {
    margin-top: 30px;
}

.payment-methods label {
    font-weight: bold;
    color: #7a5d43;
    margin-right: 10px;
    font-size: 16px;
}

.payment-methods input {
    margin-right: 5px;
}

.checkout-summary {
    margin-top: 30px;
    background-color: #eae3d2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.checkout-summary-title {
    font-size: 24px;
    color: #7a5d43;
    font-weight: bold;
}

.checkout-confirm-btn {
    background-color: #d6c9b7;
    color: #5a5a5a;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.checkout-confirm-btn:hover {
    background-color: #c5b4a4;
}
